<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="/user/{{uid}}/website/{{wid}}/page" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold cl-text-grey" href="#">
        Edit Page
      </a>
    </div>
    <a (click)="UpdatePage()" routerLink="#" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>


<div class="container cl-container-left-padding">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <form class="cl-text-padding">
    <div class="form-group">
      <label for="page-name">Name</label>
      <input [(ngModel)]="page.name" name="page-name" type="text" class="form-control" id="page-name" placeholder="Page Name" required #pageName="ngModel">
    </div>
    <span class="help-block" *ngIf="!pageName.valid && pageName.touched">
          Please enter page name!
    </span>
    <div class="form-group">
      <label for="page-title">Title</label>
      <input [(ngModel)]="page.title" name="page-title" type="text" class="form-control" id="page-title" placeholder="Page Title">
    </div>
    <a class="btn btn-danger  btn-block" (click)="DeletePage()" routerLink="/user/{{uid}}/website/{{wid}}/page">Delete</a>
  </form>
</div>

<<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/user/{{uid}}" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
