<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="/website" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold cl-text-grey" href="#">
        Pages
      </a>
    </div>
    <a routerLink="/website/{{wid}}/page/new" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-plus"></i>
    </a>

  </div>
</nav>


<div class="container">
  <ul class="list-group cl-list-group-borderless cl-text-blue">
    <li *ngFor="let item of pages" class="list-group-item cl-list-item-borderless d-flex justify-content-between">
      <a routerLink="/website/{{wid}}/page/{{item._id}}/widget" class="cl-text-blue">{{item.name}}</a>
      <a routerLink="/website/{{wid}}/page/{{item._id}}" class="cl-text-blue"><span class="fas fa-cog"></span></a>
    </li>

    <!--<li class="list-group-item cl-list-item-borderless d-flex justify-content-between">-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/1/widget" class="cl-text-blue">Blog Post</a>-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/1" class="cl-text-blue"><span class="fas fa-cog"></span></a>-->
    <!--</li>-->
    <!--<li class="list-group-item cl-list-item-borderless d-flex justify-content-between">-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/2/widget" class="cl-text-blue">Blogs</a>-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/2" class="cl-text-blue"><span class="fas fa-cog"></span></a>-->
    <!--</li>-->
    <!--<li class="list-group-item cl-list-item-borderless d-flex justify-content-between">-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/3/widget" class="cl-text-blue">Home</a>-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/3" class="cl-text-blue"><span class="fas fa-cog"></span></a>-->
    <!--</li>-->
    <!--<li class="list-group-item cl-list-item-borderless d-flex justify-content-between">-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/4/widget" class="cl-text-blue">About</a>-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/4" class="cl-text-blue"><span class="fas fa-cog"></span></a>-->
    <!--</li>-->
    <!--<li class="list-group-item cl-list-item-borderless d-flex justify-content-between">-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/5/widget" class="cl-text-blue">Contact Us</a>-->
      <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/5" class="cl-text-blue"><span class="fas fa-cog"></span></a>-->
    <!--</li>-->
  </ul>
</div>


<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/profile" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
