<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold cl-text-grey" routerLink="#">
        Widgets Edit
      </a>
    </div>
    <a (click)="UpdateWidget()" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>


<div class="container">
  <div *ngIf="flag"
       class="alert alert-danger">
    {{error}}
  </div>
  <form novalidate name="model.myform">
    <div class="form-group">
      <label for="Name">Name</label>
      <input [(ngModel)]="widget.name"
             type="text"
             class="form-control"
             id="Name"
             name="widname"
             placeholder="Name"
             required>
      <span class="alert-class"
            *ngIf="flag">{{alert}}</span>
    </div>
    <!--<div ng-model="model.widget.text"-->
    <!--text-angular-->
    <!--ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],-->
    <!--['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],-->
    <!--['indent','outdent'],['html']]">-->
    <!--</div>-->

    <!-- use with ngModel -->
    <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
    <!--[options]="editorOptions"-->
    <!--(blur)="onEditorBlured($event)"-->
    <!--(focus)="onEditorFocused($event)"-->
    <!--(ready)="onEditorCreated($event)"-->
    <!--(change)="onContentChanged($event)"-->
  </form>
  <p></p>
  <a class="btn btn-danger  btn-block" (click)="DeleteWidget()" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget">Delete</a>
</div>



<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/user/{{uid}}" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
