<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <a class="navbar-brand cl-text-black cl-text-bold cl-text-grey" routerLink="#">
        Widgets Edit
      </a>
    </div>
    <a (click)="UpdateWidget()" routerLink="#" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>

<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <form>
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input [(ngModel)]="widget.name" name="widget-name" type="text" class="form-control" id="youtube-name" placeholder="Name" required #widgetName="ngModel">
    </div>
    <span class="help-block" *ngIf="!widgetName.valid && widgetName.touched">
          Please enter widget name!
    </span>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input [(ngModel)]="widget.text" name="widget-text" type="text" class="form-control" id="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input [(ngModel)]="widget.url" name="widget-URL" type="text" class="form-control" id="youtube-URL" placeholder="URL">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input [(ngModel)]="widget.width" name="widget-width" type="text" class="form-control" id="youtube-width" placeholder="100%">
    </div>
  </form>
  <a class="btn btn-danger btn-block" (click)="DeleteWidget()" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget">Delete</a>
</div>

<<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/user/{{uid}}" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
